@{
    ViewBag.Title = "Upload";
}

<h2>Upload ERF or MOD</h2>
<form method="post" enctype="multipart/form-data">
    <label for="file">Filename: </label>
    <input id="file" type="file" name="file"/>
    <input type="submit" value="Next" />
</form>
